/assets/
/backups/
/Code/
/crash-reports/
/CustomSkinLoader/
/defaultconfigs/
/journeymap/
/libraries/
/logs/
/mods/
/patchouli_books/
/resourcepacks/
/saves/
/shaderpacks/
/tlm_custom_pack/
/versions/
/launcher_profiles.json
/minecraft-thread-pool-agent-1.0.0-shaded.jar
/mods.lnk
/options.txt
/optionsof.txt
/patchouli_data.json
/PCL.ini
/servers.dat
/usercache.json
/usernamecache.json
/local/ftbchunks/data/
/kubejs/exported/